<a href="https://colab.research.google.com/github/rayavarapu-manasa/Amazon_clone/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=5
print(a)

5

In [5]:
b="manasa"
c='teja'
d=1.2
print(b)
print(type(b))
print(type(d))

manasa
<class 'str'>
<class 'float'>

In [6]:
print("this is my first python class")

this is my first python class

In [9]:
a=input("enter your name")

enter your name manasa

In [11]:
print(a)
print(type(a))

 manasa
<class 'str'>

In [12]:
a=int(input("enter your number"))
print(a)
print(type(a))

enter your number 15
15
<class 'int'>

In [13]:
a=float(input("enter your number"))
print(a)
print(type(a))

enter your number1.2
1.2
<class 'float'>

In [15]:
a=str(input("enter your number"))
print(a)
print(type(a))

enter your number2
2
<class 'str'>

In [19]:
a=2
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

5
-1
6
0.6666666666666666
0